@import url('https://fonts.googleapis.com/css?family=Raleway:900')

body
  background: #eee
  padding: 0
  margin: 0
  color: white
  font-family: 'Raleway', sans-serif
section
  background: #eee
  margin: 0
  h1
    margin: 0
header
  // background: url('https://packsion.com/packsion/img/home-bg.jpg')
  overflow: hidden
  padding: 18% 5%
  position: relative
  .left-image
    background: url('images/men.jpg')
    left: 0%
    right: 50%
  .right-image
    background: url('images/women.jpg')
    left: 50%
    right: 0%
  .bg-image
    // z-index: -1
    position: absolute
    top: 0px
    bottom: 0px
    background-position: top
    background-repeat: no-repeat
    background-size: cover
    // height: 80vh
    transition: all 0.3s ease
    cursor: pointer
    &:hover
      -moz-transform: scale(1.02);
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    .light
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background: rgba(0, 0, 0, 0.4)
      display: none
  .header-text
    z-index: 99999
    text-align: center
    color: #000
    span, div
      z-index: 55
    span
      font-size: 5em
      margin: 0 25%
nav
  padding: 30px 5% 30px
  position: relative
  background-color: rgba(0, 0, 0, 0.9)
  height: 100px
  // width: 100%
  display: block
  .logo
    float: left
  ul
    list-style none
    float right
    text-transform uppercase
    li
      display: inline
      a
        font-size 13px
        font-weight bold
        padding 10px 15px
        text-align center
        font-family 'Raleway', sans-serif
        color #fff

.section2
  background #eee
  margin: 0
  margin-bottom: 2%
  padding 5% 20%
  div
    text-align: center
    button
      display: inline
      border 2px solid #ed7d31
      padding 10% 25%
      border-radius 15px
      background white
      color #111
      font-weight 600
      text-transform uppercase
      &:hover
        background #ed7d31
        color white
      &:focus
        outline: none
.packages
  height: 60vh
  margin: 0
  background #eee
  .package
    color: #000
    margin: 1% 0%
    font-size: 1.2em
    display: none

.products
  padding: 2% 8% 1% 8%
  h1
    font-weight: 900
    color: black
    text-align: center
    margin: 4% 0%
  .product
    img
      width: 100%
