@import url("https://fonts.googleapis.com/css?family=Raleway:900");
body {
  background: #fff;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
section {
  margin: 0;
}
section h1 {
  margin: 0;
}
header {
  overflow: hidden;
  height: 85vh;
  position: relative;
}
header .left-image {
  background: url("images/men.jpg");
}
header .right-image {
  background: url("images/women.jpg");
}
header .bg-image {
  width: 50%;
  top: 0px;
  bottom: 0px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  transition: all 0.3s ease;
  cursor: pointer;
}
header .bg-image .lightness {
  background-color: #f00;
  z-index: 9999;
}
header .bg-image:hover {
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
header .bg-image .light {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
}
header .bg-image button {
  background: none;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  background: rgba(0,0,0,0.4);
  font-size: 1.4em;
  color: #fff;
  min-width: 200px;
  border: 1px solid #fff;
  border-radius: 50px;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  transition-property: initial;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
}
header .bg-image button:hover {
  color: #3c3d41;
  background: #fff;
}
header .header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.8em;
  text-align: center;
}
header .header-text img {
  margin-bottom: 5%;
}
header .header-text span,
header .header-text div {
  z-index: 55;
  font-size: 1.8em;
}
header .header-text span {
  font-size: 5em;
  margin: 0 25%;
}
nav {
  padding: 30px 5% 30px;
  position: relative;
  background-color: rgba(0,0,0,0.9);
  height: 100px;
  display: block;
}
nav .logo {
  float: left;
}
nav ul {
  list-style: none;
  float: right;
  text-transform: uppercase;
}
nav ul li {
  display: inline;
}
nav ul li a {
  font-size: 13px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
.section2 {
  margin: 0;
  margin-top: 24%;
  padding: 5% 5%;
}
.section2 div {
  text-align: center;
}
.section2 div button {
  display: inline;
  border: 2px solid #ed7d31;
  width: 250px;
  height: 40px;
  border-radius: 50px;
  background: #fff;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}
.section2 div button:hover {
  background: #ed7d31;
  color: #fff;
}
.section2 div button:focus {
  outline: none;
}
.packages {
  height: 60vh;
  margin: 0;
}
.packages .package {
  color: #000;
  margin: 1% 0%;
  font-size: 1.2em;
  display: none;
}
.products {
  padding: 2% 8% 1% 8%;
}
.products h1 {
  font-weight: 900;
  color: #000;
  margin: 4% 0% 4%;
  text-align: center;
}
.products .product {
  text-align: center;
}
.products .product img {
  width: 100%;
}
.products .product button {
  text-align: center;
  display: inline;
  margin: 0 auto;
  display: inline;
  border: 2px solid #ed7d31;
  width: 250px;
  height: 40px;
  border-radius: 50px;
  background: #fff;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  margin-top: 10%;
}
.products .product button:hover {
  background: #ed7d31;
  color: #fff;
}
.products .product button:focus {
  outline: none;
}
